= render 'comfy/admin/cms/partials/html_footer'

= javascript_include_tag 'comfortable_mexican_sofa/application'
= javascript_include_tag 'comfortable_mexican_sofa/admin/application'
= javascript_include_tag 'comfortable_mexican_sofa_metronic_admin/admin/application'

- if content_for(:javascript)
  :javascript
    #{yield :javascript}

- if @site && !@site.new_record?
  :javascript
    CMS.file_upload_path = "#{comfy_admin_cms_site_files_path(@site)}"
