%head
  %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
  %title= ComfortableMexicanSofa.config.cms_title
  = csrf_meta_tag

  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  /[if lt IE 9]
    = javascript_include_tag  "ohter/respond.min.js"
    = javascript_include_tag  "ohter/excanvas.min.js"

  = stylesheet_link_tag '//netdna.bootstrapcdn.com/font-awesome/4.0.2/css/font-awesome.min.css'
  = stylesheet_link_tag '//fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all'
  = stylesheet_link_tag 'comfortable_mexican_sofa/application'
  = stylesheet_link_tag 'comfortable_mexican_sofa/admin/application'
  = stylesheet_link_tag 'comfortable_mexican_sofa_metronic_admin/application'
  = stylesheet_link_tag 'metronic/print', media: 'print'

  = yield :head

  = render 'admin/cms/partials/html_head'
