%head
  %meta{'http-equiv' => "Content-type", :content => "text/html; charset=utf-8"}
  %title= ComfortableMexicanSofa.config.cms_title
  = csrf_meta_tag

  %meta{'http-equiv' => "X-UA-Compatible", :content => "IE=edge"}
  %meta{:name => "viewport", :content => "width=device-width, initial-scale=1"}

  /[if lt IE 9]
    = javascript_include_tag  "/plugins/respond.min.js"
    = javascript_include_tag  "/plugins/excanvas.min.js"


  = stylesheet_link_tag 'comfortable_mexican_sofa/application'
  = stylesheet_link_tag 'comfortable_mexican_sofa/admin/application'
  = stylesheet_link_tag 'comfortable_mexican_sofa_metronic_admin/application'
  -# = javascript_include_tag 'comfortable_mexican_sofa/application'
  -# = javascript_include_tag 'comfortable_mexican_sofa/admin/application'

  = render :partial => 'layouts/admin/cms/temp_head'

  = yield :head

  = render 'admin/cms/partials/html_head'
